<!DOCTYPE html>
<html>
  <head>
    <title>QuoteService</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class=header>
      <div class="wrapper">
        <nav class="navbar bg-dark navbar-dark">
          <ul class="nav-area">
            <li class="nav-area">
              <a  href="/view-quote" class="nav-link" role="button" >View Quote</a>
            </li> &nbsp;
            <li class="nav-area">
              <a href="/create-quote" class="nav-link" role="button" >Create Quote</a>
            </li> &nbsp;
            <li class="nav-area">
              <a  href="/" class="nav-link active" role="button">Home</a>
            </li>
          </ul> 
        </nav>
      </div>
    </div>
  </body>
</html>

