<!DOCTYPE html>
<html>
  <head>
    <title>QuoteService</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	 <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     <link rel="stylesheet" type="text/css" href="CSS/dataTables.bootstrap.css"/>
    
     <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"/>
     <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css"/>	
      <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>	
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
</head>
  <style>
        .bs-create{
            margin: 10px;    
            padding-left: 10px;
            overflow: hidden;    
        }

        .submit-progress-bg {
            background-color: whitesmoke;
            opacity: .5;
        }

        .submit-progress i {
             margin-right: 0.5em;
        }

        .submit-progress {
            padding-top: 2em;
            width: 92%;;
            margin-left: 2.5em;

            -webkit-border-radius: 0.4em;
            -moz-border-radius: 0.4em;
            border-radius: 0.4em;
            box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
            -webkit-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
            -moz-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
        }

        card {
        /* Add shadows to create the "card" effect */
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            height: 1000px;
            overflow: hidden;
        }

        /* On mouse-over, add a deeper shadow */
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        #myAlert {
            display: none;
        }

        .bs-create{
            margin: 10px;    
            padding-left: 2px;
            overflow: hidden;    
        }

        #datatable {
            width: 100%;
            border-spacing: 0;
            border-collapse: collapse;
        }
        #datatable td {
        word-break: break-all;
        }
        #datatable td,
        #datatable th {
        border: 1px solid #dadada;
        padding: 5px;
        }
        #datatable thead th {
        text-align: left;
        }
        #datatable thead th:nth-child(0),{
        width: 2%;
        }
        
        #datatable thead th:nth-child(1){
        width: 10%;
        }
        #datatable thead th:nth-child(2){
        width: 30%;
        }

        div.dataTables_length {
  margin-right: 27em;
}
        .buttons-excel {
        background-color: blue;
        color: white;
        }

    </style>
  <body>
    <script>
        alert("litquote");
      var recnum = 0;
      var timein = 0;
      var oTable;
      var result = JSON.parse('<%- JSON.stringify(jsonData) %>');  //JSON.parse('<%- JSON.stringify(jsonData) %>');
      recnum = JSON.parse('<%- JSON.stringify(jsonrecnum) %>');
      timein = JSON.parse('<%- JSON.stringify(jsontimein) %>');

      $(document).ready(function() {
        // selected = new Array();
        if (recnum == 0)
        {
            document.getElementById("recnum").value = "5";
        }
        else{
            document.getElementById("recnum").value = recnum;
        }
        if (timein == 0)
        {
            document.getElementById("timein").value = '10';
        }
        else{
            document.getElementById("timein").value = timein;
        }

        $("#inputFilter").on("keyup", function() {
      var inputValue = $(this).val().toLowerCase();
      $("#wavTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(inputValue) > -1)
      });
  });
	  oTable = $('#wavTable').DataTable({
        stateSave: true,
		"lengthMenu": [10, 25, 50, 100, 200, 500, 1000, 2000],
		"order":[],
		"sScrollX":"100%",
		"scrollCollapse":true
    });
    })

	document.addEventListener("DOMContentLoaded", function(event) { 
      var TheInnerHTML ="";
	  var k = 1;
	for (var j = 0; j < result.length; j++, k++) {
	  //  TheInnerHTML += "<tr><td>"+k+"</td><td>"+result[j].symbol+"</td><td><label>&nbsp;</label><label>&nbsp;</label><label>&nbsp;</label><label>&nbsp;</label><button class='btn btn-default btn-sm' style='color:white' type='click' id="+splitrecval[j]+" onclick='translatewavtotxtfn(this.id);'><img src='/images/speechtxt.png'></button></td></tr>";
      TheInnerHTML += "<tr><td>"+result[j].timestamp+"</td><td>"+result[j].sharestraded+"</td></tr>";
	 
    }
	document.getElementById("TheBody").innerHTML = TheInnerHTML;	
	document.getElementById("TheBody").style.fontFamily = "sans-serif";
	document.getElementById("TheBody").style.fontSize = "small";
	document.getElementById("TheBody").style.wordBreak = "break-all";
	document.getElementById("TheBody").style.wordWrap = "break-word";
});

        function processdata(ctl)
        {
            var valid = true;
        
          $('[required]').each(function() {
            if ($(this).is(':invalid') || !$(this).val()) valid = false;
          })
            if (valid)
            {
                var recnum = document.getElementById("recnum").value;
                var timemin = document.getElementById("timemin").value;
                window.location.href = "/list-quote/?numofrec="+recnum+"&interval="+timemin;
            }
        }

    </script>
    <div class="viewheader">
      <div class="wrapper">
        <nav class="navbar bg-dark navbar-dark">
          <ul class="nav-area">
            <li class="nav-area">
              <a  href="/view-quote" class="nav-link active" role="button" >View Quote</a>
            </li> &nbsp;
            <li class="nav-area">
              <a href="/create-quote" class="nav-link" role="button" >Create Quote</a>
            </li> &nbsp;
            <li class="nav-area">
              <a  href="/" class="nav-link" role="button" >Home</a>
            </li>
          </ul> 
        </nav>
      </div>
      <div class="bs-create">
      <div class="form-group row"></div>
      <form onsubmit="processdata()">
        <div class="form-group row">
            
            <div class="col-md-2">
              <label for="recnum">Number of Records</label>
                <input type="text" class="form-control" id="recnum" data-toggle="tooltip" 
                      data-placement="right" title="Enter the number of records" onkeyup="this.value = this.value.toUpperCase();" required>
                      
            </div>
            <div class="col-md-2">
                <label for="timemin" >Last data in minutes</label>
                <input type="text" class="form-control" id="timemin" data-toggle="tooltip" 
                      data-placement="right" title="Enter the time frame in minutes" required>
                      
            </div>
      
            <div class="form-group row">
              <div class="col-md-3">
                <label for="dummy" ></label>
              <input type="submit" class="btn btn-success" value="accept"/>
            </div>
              </div>      
        </div>
        
      </form>
       </div>

    </br>
</br>
</br>

<table id="quoteTable" class="table table-hover table-responsive" cellspacing="0" width="100%">
<thead> 
<tr>


  <th style="width:15%">Type</th>
  <th style="width:50%">Coordinates (deg)</th>
</tr>
</thead>
<tbody id="TheBody" > 
</tbody>
<tfoot>
  <tr>

  <th style="width:15%">Type</th>
  <th style="width:50%">Coordinates (deg)</th>

  </tr>
</tfoot>
</table>
      </div>
    
  </body>
</html>

